# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/
**/build/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# OS별 임시 파일
.DS_Store
Thumbs.db

# 로그/임시 파일
*.log
*.tmp

# Lombok cache
lombok.config

# 기타
*.class
*.war
*.jar

# 환경 설정 파일 (선택적으로 무시)
*.env
.env.*
